@import 'list.css';
@import 'projects.css';
/* #242424  */
body {
  font-family: Segoe UI, Tahoma, Geneva, Verdana, sans-serif;

  background-color: black;
  color: white;

  user-select: none;
}

#intro {
  position: absolute;
  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;

  opacity: 0;
  z-index: 1;
  backdrop-filter: blur(5px);

  transition: opacity 500ms;
}

#app {
  opacity: 0;

  transition: opacity 500ms;
}

#intro .container {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -60%);
  width: 60%;

  text-align: center;
  padding: 1.5rem 2rem 2rem 2rem;
  border: 5px solid white;
  background-color: black;
}

#intro h1 {
  font-size: 4rem;
}

#intro p {
  font-size: 1.5rem;
}

#s5689 {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  color: rgba(255, 255, 255, 0.2);

  z-index: 99s;
}
